$default-color: #121213;
$empty-color: #3a3a3c;
$partial-color: #ff8f00;
$correct-color: #538d4e;
$text-color: #ffffff;
$font-family: Arial, Helvetica, sans-serif;
$display-flex: flex;
$align-center: center;

@mixin heading-styles {
    width: 100%;
    text-align: $align-center;
    color: $text-color;
    font-family: Arial, Helvetica, sans-serif;
}

@mixin box-rules {
    height: 100px;
    margin: 4px;
    color: $text-color;
    display: grid;
    place-items: $align-center;
    font-family: $font-family;
    font-size: 1rem;
    text-wrap: wrap;
    text-align: $align-center;
    overflow: hidden;
    object-fit: cover;

}

html,
body {
    background-color: $default-color;
    display: $display-flex;
    flex-direction: column;
    align-items: $align-center;
    justify-content: flex-start;
    position: relative;
    min-height: 100vh;
    margin-top: 0;
}

h1 {
    @include heading-styles();
    font-size: 58px;
}

h3 {
    @include heading-styles();
    font-size: 16px;
}

h4 {
    @include heading-styles();
    font-size: 14px;
}

/* Set the properties of the game container */
#game {
    display: grid;
    place-items: $align-center;
    width: 100%;
    height: 600px;
}

/* Set the grid that will populate as guesses occur */
.grid {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-template-rows: repeat(6,auto);
    justify-items: $align-center;
    justify-content: $align-center;
    align-items: $align-center;
    align-content: space-around;
}

/* Define the actual boxes that make up the headers */
.headerBox {
    @include box-rules();
    width: 104px;
    border-bottom: 2px solid $text-color;
}

/* Define the actual boxes that animate during a guess */
.box {
    @include box-rules();
    width: 100px;
    border: 2px solid $empty-color;
    img {
        width: 100%;
        height: 100%;
        border: 2px solid $empty-color;
        margin: 4px;
        text-align: $align-center;
        overflow: hidden;
        object-fit: cover;
    }
}

/* Define styling for the hints area */
.hintArea {
    opacity: 0;
    width: 100%;
    margin-top: 1rem;
    text-align: $align-center;
    color: $text-color;
    font-size: 16px;
    font-family: $font-family;
    ul{
        width: 100%;
        list-style: none; 
    }
}

/* Defining the style of the popup modal for winners and losers */
.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.2rem;
    width: 450px;
    padding: 1.3rem;
    min-height: 175px;
    position: absolute;
    top: 20%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
    z-index: 2;
    h3 {
        color: $default-color; 
    }
    .flex {
        display: flex;
        align-items: $align-center;
        justify-content: space-between;
      }
    .input {
        padding: 0.7rem 1rem;
        border: 1px solid #ddd;
        border-radius: 5px;
        font-size: 0.9em;
    }
    p {
        font-size: 0.9rem;
        color: #777;
        margin: 0.4rem 0 0.4rem; 
    }
    .overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: $default-color;
        backdrop-filter: blur(3px);
        z-index: 1;
    }
    
    .hidden {
        display: none;
    }
    
    button {
        cursor: pointer;
        border: none;
        font-weight: 600;
    }
      
    #playAgain {
        display: inline-block;
        padding: 0.8rem 1.4rem;
        font-weight: 700;
        background-color: black;
        color: $text-color;
        border-radius: 5px;
        text-align: center;
        font-size: 1em;
    }
    
    .button-close {
        transform: translate(10px, -20px);
        padding: 0.5rem 0.7rem;
        background: #eee;
        border-radius: 50%;
    }
  }

/* Set the states of the box after each guess using the color variables in the root */
.box.empty {
    background: $empty-color;
}

.box.partial {
    background-color: $partial-color;
}

.box.right {
    background-color: $correct-color;
}

.animation {
    animation: flipping 0.5s ease;
}

/* Animation for flipping cards for reveals */
@keyframes flipping {
    0% {
        transform: scaleX(1);
    }
    50% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}