/* Set the entire body and HTML to have the default color variable defined in the root */
html,
body {
    background: var(--default);
}

/* Define the colors that will be used on repeat throughout the project */
:root {
     --default: #121213;
     --empty: #3a3a3c;
     --wrong: #ff8f00;
     --correct: #538d4e;
     }

/* Set the properties of the game container */
#game {
    display: grid;
    place-items: center;
    width: 100%;
    height: 600px;
}

/* Set the grid that will populate as guesses occur */
.grid {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-template-rows: repeat(5,auto);
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}

/* Define the actual boxes that animate during a guess */
.box {
    width: 100px;
    height: 100px;
    border: 2px solid var(--empty);
    margin: 4px;
    color: #fff;
    display: grid;
    place-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    text-wrap: wrap;
    text-align: center;
}

/* Set the states of the box after each guess using the color variables in the root */
.box.empty {
    background: var(--empty);
}

.box.wrong {
    background: var(--wrong);
}

.box.right {
    background: var(--correct);
}

.animation {
    animation: flipping 0.5s ease;
}

@keyframes flipping {
    0% {
        transform: scaleX(1);
    }
    50% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}